<div id="character-sheet">
    <section id = "basic-info">
        <section id="basic-info-image">
            <component>avatar|Characterinfo|<%=id%></component>
        </section>
        <section id="basic-info-content">
            <section class="basic-info-row">
                <section class = "basic-info-group">
                    <component>name|Characterinfo|<%=id%></component>
                </section>
                <section class = "basic-info-row-space">

                </section>
                <section class = "basic-info-group">
                    <component>info-level|Characterinfo|<%=id%></component>
                </section>
                <section class = "basic-info-row-space">

                </section>
                <section class = "basic-info-group">
                    <component>profession|Characterinfo|<%=id%></component>
                </section>
            </section>
            <section class="basic-info-row">
                <section class = "basic-info-group">
                    <component>description|Characterinfo|<%=id%></component>
                </section>
            </section>
            <section class="basic-info-row">
                <section id = "character-stats" class = "basic-info-grid">
                    <section class = "grid-titles">
                        <section class = "character-box-title character-box-section grid-title">
                            Stats:
                        </section>
                        <section class = "character-box-title character-box-section grid-title">
                            Base Stat:
                        </section>
                        <section class = "character-box-title character-box-section grid-title">
                            Trait Mods:
                        </section>
                        <section class = "character-box-title character-box-section grid-title">
                            Final Stat:
                        </section>
                        <section class = "character-box-title character-box-section grid-title">
                            Rerolls:
                        </section>
                    </section>
                    
                </section>
            </section>
        </section>  
    </section>
    <section id="traits">
    </section>
</div>