<div id="character-sheet">
    <section id = "character-left">
        <section id = "basic-info">
            <section id="basic-info-image">
                <%-include('avatar.ejs')%>
            </section>
            <section id="basic-info-content-container">
                <section id="basic-info-content">
                    <section class="basic-info-row">
                        <section class = "basic-info-group">
                            <%-include('name.ejs')%>
                        </section>
                        <section class = "basic-info-row-space">

                        </section>
                        <section class = "basic-info-group">
                            <%-include('stress-level.ejs')%>
                        </section>
                        <section class = "basic-info-row-space">

                        </section>
                        <section class = "basic-info-group">
                            <%-include('info-level.ejs')%>
                        </section>
                    </section>
                    <section class="basic-info-row">
                        <section class = "basic-info-group">
                            <%-include('age.ejs')%>
                        </section>
                        <section class = "basic-info-group">
                            <%-include('birthday.ejs')%>
                        </section>
                        <section class = "basic-info-row-space">

                        </section>
                        <section class = "basic-info-group">
                            <%-include('fate-rerolls.ejs')%>
                            <%-include('mana.ejs')%>
                        </section>
                    </section>
                    <section class="basic-info-row">
                        <section class = "basic-info-group">
                            <%-include('profession.ejs')%>
                        </section>
                        <section class = "basic-info-row-space">

                        </section>
                        <section class = "basic-info-group">
                            <%-include('savings.ejs')%>
                            <%-include('salary.ejs')%>
                            <%-include('lifestyle.ejs')%>
                        </section>
                    </section>
                    <section class="basic-info-row">
                        <section class = "basic-info-group">
                            <%-include('description.ejs')%>
                        </section>
                    </section>
                    <section class="basic-info-row">
                        <%-include('stats.ejs')%>
                    </section>
                </section>  
            </section>
        </section>
        <%-include('traits.ejs')%>
    </section>
    <section id = "character-right">
        <%if(traits.metaTrait.length){%>
            <%-include('meta-trait.ejs')%>
        <%}%>
        <%-include('knowledge.ejs')%>
    </section>
</div>