<animation>basicSheet</animation>
<div id="character-sheet">
    <section id = "character-left">
        <section id = "basic-info">
            <section id="basic-info-image">
                <component>avatar|Characterinfo|<%=id%></component>
            </section>
            <section id="basic-info-content">
                <section class="basic-info-row">
                    <section class = "basic-info-group">
                        <component>name|Characterinfo|<%=id%></component>
                    </section>
                    <section class = "basic-info-row-space">

                    </section>
                    <section class = "basic-info-group">
                        <component>stress-level|Characterinfo|<%=id%></component>
                    </section>
                    <section class = "basic-info-row-space">

                    </section>
                    <section class = "basic-info-group">
                        <component>info-level|Characterinfo|<%=id%></component>
                    </section>
                </section>
                <section class="basic-info-row">
                    <section class = "basic-info-group">
                        <component>age|Characterinfo|<%=id%></component>
                    </section>
                    <section class = "basic-info-group">
                        <component>birthday|Characterinfo|<%=id%></component>
                    </section>
                    <section class = "basic-info-row-space">

                    </section>
                    <section class = "basic-info-group">
                        <section id = "character-fate-rerolls" class = "character-box">
                            <section class = "character-box-title character-box-section">
                                Fate Rerolls:
                            </section>
                            <section class ="character-box-content character-box-section">
                                
                            </section>
                        </section>
                        <section id = "character-mana" class = "character-box">
                            <section class = "character-box-title character-box-section">
                                Mana:
                            </section>
                            <section class ="character-box-content character-box-section">
                                
                            </section>
                        </section>
                    </section>
                </section>
                <section class="basic-info-row">
                    <section class = "basic-info-group">
                        <section id = "character-profession" class = "character-box">
                            <section class = "character-box-title character-box-section">
                                Profession:
                            </section>
                            <section class ="character-box-content character-box-section">
                                
                            </section>
                        </section>
                    </section>
                    <section class = "basic-info-row-space">

                    </section>
                    <section class = "basic-info-group">
                        <section id = "character-savings" class = "character-box">
                            <section class = "character-box-title character-box-section">
                                Savings:
                            </section>
                            <section class ="character-box-content character-box-section">
                            
                            </section>
                        </section>
                        <section id = "character-salary" class = "character-box">
                            <section class = "character-box-title character-box-section">
                                Salary:
                            </section>
                            <section class ="character-box-content character-box-section">
                            
                            </section>
                        </section>
                        <section id = "character-lifestyle" class = "character-box">
                            <section class = "character-box-title character-box-section">
                                Lifestyle:
                            </section>
                            <section class ="character-box-content character-box-section">
                            
                            </section>
                        </section>
                    </section>
                </section>
                <section class="basic-info-row">
                    <section class = "basic-info-group">
                        <section id = "character-description" class = "character-box">
                            <section class = "character-box-title character-box-section">
                                Description:
                            </section>
                            <section class ="character-box-content character-box-section">
                            
                            </section>
                        </section>
                    </section>
                </section>
                <section class="basic-info-row">
                    <section id = "character-stats" class = "basic-info-grid">
                        <section class = "grid-titles">
                            <section class = "character-box-title character-box-section grid-title">
                                Stats:
                            </section>
                            <section class = "character-box-title character-box-section grid-title">
                                Base Stat:
                            </section>
                            <section class = "character-box-title character-box-section grid-title">
                                Trait Mods:
                            </section>
                            <section class = "character-box-title character-box-section grid-title">
                                Final Stat:
                            </section>
                            <section class = "character-box-title character-box-section grid-title">
                                Rerolls:
                            </section>
                        </section>
                        
                    </section>
                </section>
            </section>  
        </section>
        <section id="traits">
        </section>
    </section>
    <section id = "character-right">
        
    </section>
</div>