<div id="character-sheet">
    <section id="basic-box">
        <section id="basic-info-image">
            <%-include('avatar.ejs')%>
        </section>
        <section id="basic-info-content-container">
            <section id="basic-info-content">
                <section class="basic-info-row">
                    <section class = "basic-info-group">
                        <%-include('name.ejs')%>
                    </section>
                    <section class = "basic-info-row-space">

                    </section>
                    <section class = "basic-info-group">
                        <%-include('info-level.ejs')%>
                    </section>
                </section>
                <section class="basic-info-row">
                    <section class = "basic-info-group">
                        <%-include('race.ejs')%>
                    </section>
                </section>
                <section class="basic-info-row">
                    <section class = "basic-info-group">
                        <%-include('age.ejs')%>
                    </section>
                </section>
                <section class="basic-info-row">
                    <section class = "basic-info-group">
                        <%-include('profession.ejs')%>
                    </section>
                </section>
                <section class="basic-info-row">
                    <section class = "basic-info-group">
                        <%-include('description.ejs')%>
                    </section>
                </section>
            </section>  
        </section>
    </section>
</div>