<div id="battle-box">
    <section id="grid-container" style="height:<%=height*50%>px; width:<%=width*50%>px">
        <section id="grid">
            <%for(let x=0; x<height; x++){%>
                <div id = "gridrow-<%=x%>" class="gridrow" style="width:<%=width*50%>px">
                <%for(let y=0; y<width; y++){%>
                    <div id="gridbox-<%=x%>-<%=y%>" class="gridbox">
                        <div id = "background-layer-<%=x%>-<%=y%>">
                            <img class="token" src='/tokens/<%=gridBoxes[x][y].background%>.jpg'>
                        </div>
                        <div id = "token-layer-<%=x%>-<%=y%>" class = "token-layer">
                            <img <%if(gridBoxes[x][y].unit!="Empty"){%>id="<%=gridBoxes[x][y].unit%>"<%}%> class="token upper-layer" src='/tokens/<%=gridBoxes[x][y].token%>.jpg'>
                        </div>
                    </div>
                <%}%>
                </div>
            <%}%>
        </section>
        <img id="grid-background" src='/images/<%=map%>.jpg' style ="width:<%=width*50%>px; height:<%=height*50%>px; top: -<%=height*50%>px">
    </section>
    <section id="unit-info">

    </section>
</div>
<section id="side-bar">
    <div id="battle-text">
        <p class = "battle-text-line"><strong><%=name%></strong></p>
    </div>
    <div id="start-battle-button">
        Start Battle!
    </div>
</section>
<script>
    rounds = JSON.parse(`<%-JSON.stringify(rounds)%>`)
    combatants = JSON.parse(`<%-JSON.stringify(combatants)%>`)
    players = JSON.parse(`<%-JSON.stringify(players)%>`)
    gridBoxes = JSON.parse(`<%-JSON.stringify(gridBoxes)%>`)
    height = JSON.parse(`<%-JSON.stringify(height)%>`)
    width = JSON.parse(`<%-JSON.stringify(width)%>`)
    rounds = JSON.parse(`<%-JSON.stringify(rounds)%>`);
    currentPlayer = JSON.parse(`<%-JSON.stringify(currentPlayer)%>`);
</script>
<script src="/scripts/battle.js"></script>
<animation>down</animation>