<%z=-4;%>
<%for(let x=0; x<years.length; x++){%>
    <%for(let y=0; y<years[x].seasons.length; y++){%>
        <%z++%>
        <%if(z==0){%>
            <section id='turn-<%=z%>'>
                Turn <%=z%>
            </section>
            <script>
                $("#turn-<%=z%>").on("click",async function(){
                    states = ["story","main-title"];
                    data = [{name: "Story", id: '<%=id%>'},{name: "Story", id: '<%=id%>'}];
                    window.history.pushState({states:states,data:data}, "Story", "/story|Story=<%=id%>/main-title|Story=<%=id%>");
                    loadStates();
                })
            </script>
        <%}%>
    <%}%>
<%}%>
