<%if(typeof player != "undefined"){%>
<section id="character-home">
    <div id="main-title">
        <p class="boxtext story-supertitle">Not! Conquering High Fantasy</p>
        <p class="boxtext story-title">Legends of Alysteria</p>
        <p class="boxtext story-subtitle">A game of Legends, Lords, and Luck</p>
    </div>
    <div class="user-name">
        Playing As: <%=player.name%>
    </div>
    <div id="start-button" class="home-select">
        Start Game
    </div>
    <%if(player.currentEvent){%>
        <div id="continue-button" class="home-select">
            Continue Game
        </div>
    <%}%>
    <div class="home-select" id="home-settings-button">
        Settings
    </div>
    <div id="exit" class="home-select">
        Exit Game
    </div>
</section>
<animation>right</animation>
<background>/images/<%=player.background%>.jpg</background>
<script>
    document.documentElement.style.setProperty('--light', "<%=player.colors.light%>");
    document.documentElement.style.setProperty('--dark', "<%=player.colors.dark%>");
    document.documentElement.style.setProperty('--darker', "<%=player.colors.darker%>");
    document.documentElement.style.setProperty('--highlight', "<%=player.colors.highlight%>");
    document.documentElement.style.setProperty('--background', "<%=player.colors.background%>");
    buttons.startButtonClick = function(){
        $("#start-button").on("click", async function(){
            states = ["story", "main-title"];
            databaseObjects = [[{name: "Story", id: "<%=player.story%>"},{name: "Player", id: "<%=player.id%>"}],[{name: "Story", id: "<%=player.story%>"},{name: "Player", id: "<%=player.id%>"}]];
            customData = [false,false];
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Story - Main Title", "/story/main-title");
            await loadStates();
        })
    }
    buttons.homeSettingsClick = function(){
        $("#home-settings-button").on("click", async function(){
            setInfinityCookie("origin-states",states);
            setInfinityCookie("origin-databaseObjects",JSON.stringify(databaseObjects));
            setInfinityCookie("origin-customData",JSON.stringify(customData));
            states = ["main","settings"];
            databaseObjects = [false,false];
            customdata = [false,false];
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Settings", "/main/settings");
            await loadState(1);
            $("#home-settings-button").off("click");
        })
    } 
    buttons.exitClick = function(){
        $("#exit").on("click", async function(){
            states = ["start"];
            databaseObjects = [false];
            customdata = [false];
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Start", "/");
            await loadStates();
        })
    }
    buttons.startButtonClick();
    buttons.homeSettingsClick();
    buttons.exitClick();
</script>
<%}else{%>
<script>
    states = ["main","character-select"];
    databaseObjects = [false,false];
    customData = [false,false];
    window.history.replaceState({states:states,databaseObjects:databaseObjects,customData:customData}, "Character Select", "/main/character-select");
    loadState(1);
</script>
<%}%>