<div id = "event-<%=event._id%>" class="event-box">
    <%if(user.settings.pageScroll){%>
    <section id="page-1" class="page">
    <%}%>
        <p class="boxtext big-boy big-boy-event"></p>
        <div id="title-box-event">
            <p class="boxtext eventType">~ <%=event.type%> ~</p>
            <p class="boxtext title"><%=event.title%></p>
            <%if(event.writtenBy != "false"){%>
                <p class="boxtext nick-subtitle"><%=event.subtitle%></p>
                <p class="boxtext nick"> - Written by <%=event.writtenBy%> - </p> 
            <%}else if(event.type=="Original CHF Event"){%>
                <p class="boxtext nick-subtitle"><%=event.subtitle%></p>
                <p class="boxtext nick"> - Written by Nick Nienberg - </p> 
            <%}else{%>
                <%if(event.subtitle.includes("Red")){%>
                    <p class="boxtext subtitle"><span class="red">̵̛͚̣͕̭ͨ́̕͠R̷̵̩͕̹̓̊͟͠͠e̷̷̢͇͍͐̈̈́͘d̵̡̨͌͋̅̌̕҉̻</span>&nbsp<%=event.subtitle.split("Red")[1]%></p>
                <%}else{%>
                    <p class="boxtext subtitle"><%=event.subtitle%></p>
                <%}%>
            <%}%>
            <div id='click-signifier'><i class='fas fa-scroll fa-blink'></i></div>
        </div>
    <%if(user.settings.pageScroll){%>
    </section>
    <%}%>
</div> 
<div id = "event-<%=event._id%>-height-box" class = "height-box">

</div>
<script>
    $("#sub-base").css("background-color","#0000ff00");
    <%if(event.subtitle.includes("Red")&&event.subtitle!="Red Prologue - Part I"){%>
        if(!$("#red-style").length){
            $("head").append(`<link id="red-style" rel="stylesheet" href="/styles/red.css">`);
        }
    <%}%>
    eventId = JSON.parse(`<%-JSON.stringify(event._id)%>`); 
    index = -1;
    pageNum = 1;
    text = JSON.parse(`<%-JSON.stringify(event.text)%>`); 
    loadMusic(`<%=event.startingMusic%>`);
    $("#left-arrow-box").removeClass("invisible");
    $("#top-arrow-box").removeClass("invisible");
    $("#right-arrow-box").removeClass("invisible");
    $("#gamemaster-tab").addClass("unselected")
    $("#gamemaster-tab").removeClass("invisible");
    $("#contents-tab").addClass("unselected");
    $("#contents-tab").removeClass("invisible");
    $("#story-tab").removeClass("unselected")
    $("#left-arrow-box").off("click");
    $("#left-arrow-box").on("click", function(){
        removeCustomStyles();
        eventInterrupt = true;
        if(customData[1].eventIndex>0){
            states = ["story","event"]
            customData[1].eventIndex--;
            let event = story.years[customData[1].year].seasons[customData[1].season].regionPhases[customData[1].regionPhase].rulerPhases[customData[1].rulerPhase].events[customData[1].eventIndex];
            let alreadyExists = false;
            for(let x=0; x<databaseObjects[1].length; x++){
                if(databaseObjects[1][x].name=="Event"){
                    alreadyExists = true;
                    databaseObjects[1][x].id = event;
                }
            }
            if(!alreadyExists){
                databaseObjects[1].push({name:"Event",id:event})
            }
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Story Event", "/story/event");
        }else{
            states = ["story","player-title"]
            databaseObjects = databaseObjects;
            customData = customData;
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Story Player Title", "/story/player-title");  
        }
        loadState(1,"right");
    })
    $("#right-arrow-box").off("click");
    $("#right-arrow-box").on("click", function(){
        removeCustomStyles();
        eventInterrupt = true;
        if(customData[1].eventIndex<story.years[customData[1].year].seasons[customData[1].season].regionPhases[customData[1].regionPhase].rulerPhases[customData[1].rulerPhase].events.length-1){
            states = ["story","event"]
            customData[1].eventIndex++;
            let event = story.years[customData[1].year].seasons[customData[1].season].regionPhases[customData[1].regionPhase].rulerPhases[customData[1].rulerPhase].events[customData[1].eventIndex];
            let alreadyExists = false;
            for(let x=0; x<databaseObjects[1].length; x++){
                if(databaseObjects[1][x].name=="Event"){
                    alreadyExists = true;
                    databaseObjects[1][x].id = event;
                }
            }
            if(!alreadyExists){
                databaseObjects[1].push({name:"Event",id:event})
            }
            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Story Event", "/story/event");
        }else{
            if(customData[1].rulerPhase<story.years[customData[1].year].seasons[customData[1].season].regionPhases[customData[1].regionPhase].rulerPhases.length-1){
                customData[1].rulerPhase++;
                customData[1].eventIndex = 0;
                states = ["story","player-title"];
                window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Player Title", "/story/player-title");
            }else{
                if(customData[1].regionPhase<story.years[customData[1].year].seasons[customData[1].season].regionPhases.length-1){
                    customData[1].regionPhase++;
                    customData[1].rulerPhase = 0;
                    customData[1].eventIndex = 0;
                    states = ["story","region-title"];
                    window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Region Title", "/story/region-title");
                }else{
                    if(customData[1].season<story.years[customData[1].year].seasons.length-1){
                        customData[1].season++;
                        customData[1].turn++;
                        customData[1].regionPhase = 0;
                        customData[1].rulerPhase = 0;
                        customData[1].eventIndex = 0;
                        states = ["story","turn-title"];
                        window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Turn Title", "/story/turn-title");
                    }else{
                        if(customData[1].year<story.years.length-1){
                            customData[1].year++;
                            customData[1].season = 0;
                            customData[1].turn++;
                            customData[1].regionPhase = 0;
                            customData[1].rulerPhase = 0;
                            customData[1].eventIndex = 0;
                            states = ["story","turn-title"];
                            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "Turn Title", "/story/turn-title");
                        }else{
                            states = ["story","to-be-continued"];
                            window.history.pushState({states:states,databaseObjects: databaseObjects,customData:customData}, "To Be Continued", "/story/to-be-continued");
                        }   
                    }   
                } 
            }
        }
        loadState(1,"left");
    })
    loadEvent();
</script>
<background>/images/<%=event.background%>.jpg</background>