<section class="story-choice clickable" id='<%=id%>'>
    <%=name%>
</section>
<script>
    $("#<%=id%>").on("click", function(){
        window.location.href = "/story|story=<%=id%>/main-title|story=<%=id%>";
    })
</script>