<section class = "knowledge-box">
    <section class = "character-big-title character-box-section knowledge-grid-title border-left-thick border-top-thick border-right-thick border-bottom-thick">
        Knowledge and Skills
    </section>
    <section class = "knowledge-grid">
        <section class = "knowledge-column title-column">
            <section class = "title-column-box character-box-title character-box-section general-title-box">
                General
            </section>
            <section class = "title-column-box character-box-title character-box-section">
                Specialized
            </section>
            <section class = "title-column-box character-box-title character-box-section">
                Highly Specialized
            </section>
            <section class = "title-column-box character-box-title character-box-section skill-title-box">
                Skills
            </section>
            <section class = "title-column-box character-box-title character-box-section">
                Specialties
            </section>
        </section>
        <%let rankUp = 0;%>
        <%let wellRead = 0;%>
        <%for(let z=0; z<characterinfo.traits.aptitudeTraits.length; z++){%>
            <%if(characterinfo.traits.aptitudeTraits[z].name=="Well Read"){%>
                <%wellRead = 1;%>
            <%}%>
        <%}%>
        <%for(let x=0; x<characterinfo.knowledgeTrees.length; x++){%>
            <section class = "knowledge-column">
                <section class = "knowledge-column-general">
                    <%for(let y=0; y<characterinfo.knowledgeTrees[x].generalKnowledge.length; y++){%>
                        <%for(let z=0; z<characterinfo.traits.aptitudeTraits.length; z++){%>
                            <%if(characterinfo.traits.aptitudeTraits[z].name=="Well Read"){%>
                                <%rankUp++;%>
                            <%}%>
                        <%}%>
                        <section class = "knowledge-content">
                            <section class = "character-box-title character-box-section knowledge-content-box">
                                <%=characterinfo.knowledgeTrees[x].generalKnowledge[y].name%>
                            </section>
                            <%if(characterinfo.knowledgeTrees[x].generalKnowledge[y].info.prodigy){%>
                                <section class = "character-box-content character-box-section knowledge-content-box">
                                    <i>Prodigy!</i>
                                </section>
                            <%}%>  
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                Rank: <%=characterinfo.knowledgeTrees[x].generalKnowledge[y].info.rankString(rankUp)%>
                            </section>
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                Training Points: <%=characterinfo.knowledgeTrees[x].generalKnowledge[y].info.trainingPoints%>
                            </section>
                            <section class = "character-box-content character-box-section highlight knowledge-content-box">
                                Modifier: <%=characterinfo.knowledgeTrees[x].generalKnowledge[y].info.modString(rankUp)%>
                            </section>
                        </section>
                        <%for(let z=0; z<characterinfo.traits.aptitudeTraits.length; z++){%>
                            <%if(characterinfo.traits.aptitudeTraits[z].name=="Well Read"){%>
                                <%rankUp--;%>
                            <%}%>
                        <%}%>
                    <%}%>
                </section>
                <section class = "knowledge-column-box">
                    <%for(let y=0; y<characterinfo.knowledgeTrees[x].specializedKnowledge.length; y++){%>
                        <section class = "knowledge-content">
                            <section class = "character-box-title character-box-section knowledge-content-box">
                                <%=characterinfo.knowledgeTrees[x].specializedKnowledge[y].name%>
                            </section>
                            <%if(characterinfo.knowledgeTrees[x].specializedKnowledge[y].info.prodigy){%>
                                <section class = "character-box-content character-box-section knowledge-content-box">
                                    <i>Prodigy!</i>
                                </section>
                            <%}%>  
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                Rank: <%=characterinfo.knowledgeTrees[x].specializedKnowledge[y].info.rankString()%>
                            </section>
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                Training Points: <%=characterinfo.knowledgeTrees[x].specializedKnowledge[y].info.trainingPoints%>
                            </section>
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                Modifier: <%=characterinfo.knowledgeTrees[x].specializedKnowledge[y].info.modString()%>
                            </section>
                            <section class = "character-box-content character-box-section highlight knowledge-content-box">
                                Total Modifier: <%=characterinfo.knowledgeTrees[x].specializedKnowledge[y].totalModifier(wellRead)%>
                            </section>
                        </section>
                    <%}%>
                </section>
                <section class = "knowledge-column-box">
                    <%for(let y=0; y<characterinfo.knowledgeTrees[x].highlySpecializedKnowledge.length; y++){%>
                        <section class = "knowledge-content">
                            <section class = "character-box-title character-box-section knowledge-content-box">
                                <%=characterinfo.knowledgeTrees[x].highlySpecializedKnowledge[y].name%>
                            </section>
                            <%if(characterinfo.knowledgeTrees[x].highlySpecializedKnowledge[y].info.prodigy){%>
                                <section class = "character-box-content character-box-section knowledge-content-box">
                                    <i>Prodigy!</i>
                                </section>
                            <%}%>  
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                Rank: <%=characterinfo.knowledgeTrees[x].highlySpecializedKnowledge[y].info.rankString()%>
                            </section>
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                Training Points: <%=characterinfo.knowledgeTrees[x].highlySpecializedKnowledge[y].info.trainingPoints%>
                            </section>
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                Modifier: <%=characterinfo.knowledgeTrees[x].highlySpecializedKnowledge[y].info.modString()%>
                            </section>
                            <section class = "character-box-content character-box-section highlight knowledge-content-box">
                                Total Modifier: <%=characterinfo.knowledgeTrees[x].highlySpecializedKnowledge[y].totalModifier(wellRead)%>
                            </section>
                        </section>
                    <%}%>
                </section>
                <section class = "knowledge-column-skill">
                    <%for(let y=0; y<characterinfo.knowledgeTrees[x].skills.length; y++){%>
                        <section class = "knowledge-content">
                            <section class = "character-box-title character-box-section knowledge-content-box">
                                <%=characterinfo.knowledgeTrees[x].skills[y].name%>  
                            </section>
                            <%if(characterinfo.knowledgeTrees[x].skills[y].info.prodigy){%>
                                <section class = "character-box-content character-box-section knowledge-content-box">
                                    <i>Prodigy!</i>
                                </section>
                            <%}%>   
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                Rank: <%=characterinfo.knowledgeTrees[x].skills[y].info.rankString()%>
                            </section>
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                Training Points: <%=characterinfo.knowledgeTrees[x].skills[y].info.trainingPoints%>
                            </section>
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                Modifier: <%=characterinfo.knowledgeTrees[x].skills[y].info.modString()%>
                            </section>
                            <%if(characterinfo.knowledgeTrees[x].skills[y].info.expertModifier()>0){%>
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                Expert Modifier: <%=characterinfo.knowledgeTrees[x].skills[y].info.expertModifier()%>
                            </section>
                            <%}%>
                            <%if(characterinfo.knowledgeTrees[x].skills[y].info.eliteModifier()>0){%>
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                Elite Modifier: <%=characterinfo.knowledgeTrees[x].skills[y].info.eliteModifier()%>
                            </section>
                            <%}%>
                            <%if(characterinfo.knowledgeTrees[x].skills[y].info.masteryModifier()>0){%>
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                Mastery Modifier: <%=characterinfo.knowledgeTrees[x].skills[y].info.masteryModifier()%>
                            </section>
                            <%}%>
                            <%if(characterinfo.knowledgeTrees[x].skills[y].info.legendaryModifier()>0){%>
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                Legendary Modifier: <%=characterinfo.knowledgeTrees[x].skills[y].info.legendaryModifier()%>
                            </section>
                            <%}%>
                            <section class = "character-box-content character-box-section highlight knowledge-content-box">
                                Total Modifier: <%=characterinfo.knowledgeTrees[x].skills[y].totalSkillModifier(wellRead)%>
                            </section>
                        </section>
                    <%}%>
                </section>
                <section class = "knowledge-column-box">
                    <%for(let y=0; y<characterinfo.knowledgeTrees[x].specialties.length; y++){%>
                        <section class = "knowledge-content">
                            <section class = "character-box-title character-box-section knowledge-content-box">
                                <%=characterinfo.knowledgeTrees[x].specialties[y].name%>
                            </section>
                            <%if(characterinfo.knowledgeTrees[x].specialties[y].info.prodigy){%>
                                <section class = "character-box-content character-box-section knowledge-content-box">
                                    <i>Prodigy!</i>
                                </section>
                            <%}%>  
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                Rank: <%=characterinfo.knowledgeTrees[x].specialties[y].info.rankString()%>
                            </section>
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                Training Points: <%=characterinfo.knowledgeTrees[x].specialties[y].info.trainingPoints%>
                            </section>
                            <section class = "character-box-content character-box-section knowledge-content-box">
                                <%=characterinfo.knowledgeTrees[x].specialties[y].effect%>
                            </section>
                        </section>
                    <%}%>
                </section>
            </section>
        <%}%>
    </section>
</section>