<section id = "character-stats" class = "basic-info-grid">
    <section class = "grid-titles">
        <section class = "character-box-title character-box-section grid-title border-top-thick border-left-thick">
            Stats:
        </section>
        <section class = "character-box-title character-box-section grid-title border-top-thick border-left">
            Base Stat:
        </section>
        <section class = "character-box-title character-box-section grid-title border-top-thick border-left">
            Trait Mods:
        </section>
        <section class = "character-box-title character-box-section grid-title border-top-thick border-left">
            Final Stat:
        </section>
        <section class = "character-box-title character-box-section grid-title border-top-thick border-right-thick border-left">
            Rerolls:
        </section>
    </section>
    <%for(let x=0; x<characterinfo.stats.length; x++){%>
        <section class = "grid-content-container">
            <section class = "character-box-content character-box-section stat-row grid-content border-left-thick border-top <%if(x==characterinfo.stats.length-1){%>border-bottom-thick<%}%>">
                <%=characterinfo.stats[x].name%>
            </section>
            <section class = "character-box-content character-box-section stat-row grid-content border-left border-top <%if(x==characterinfo.stats.length-1){%>border-bottom-thick<%}%>">
                <%=characterinfo.baseStat(x)%>
            </section>
            <section class = "character-box-content character-box-section stat-row grid-content border-left border-top <%if(x==characterinfo.stats.length-1){%>border-bottom-thick<%}%>">
                <%for(let y=0; y<characterinfo.allTraits().length; y++){%>
                    <%if(characterinfo.allTraits()[y].statModifiers[x]>0){%>
                        + <%=characterinfo.allTraits()[y].statModifiers[x]%>
                    <%}%>
                    <%if(characterinfo.allTraits()[y].statModifiers[x]<0){%>
                        - <%=characterinfo.allTraits()[y].statModifiers[x]*-1%>
                    <%}%>
                <%}%>
            </section>
            <section class = "character-box-content character-box-section stat-row grid-content highlight border-left border-top <%if(x==characterinfo.stats.length-1){%>border-bottom-thick<%}%>">
                <%=characterinfo.fullStat(x)%> <%if(characterinfo.fullStat(x)>characterinfo.limitNum(x)){%>[<%=characterinfo.limitNum(x)%>]<%}%>
            </section>
            <section class = "character-box-content character-box-section stat-row grid-content border-left border-top border-right-thick <%if(x==characterinfo.stats.length-1){%>border-bottom-thick<%}%>">
                <%=characterinfo.stats[x].rerolls.available%>/<%=characterinfo.stats[x].rerolls.max%>
            </section>
        </section>
    <%}%>
</section>