<section id="combat-stats" class="combat-style">
    <section class="basic-stats">
        <section class="combat-style-box">
            <section class="combat-style-name character-big-title character-box-section">
                <%=characterinfo.combatStyles[0].name%>
            </section>
            <section id="character-combat-image-container">
                <section class="weight-class-box">
                    <%=characterinfo.combatStyles[0].weightClass().toUpperCase()%>
                </section>
                <img src=<%=characterinfo.avatar%> id="character-combat-image">
            </section>
            <section class="stat-row combat-style-content-row" style="padding-top:3px; background-color:var(--light);">
                <section class="stat-row-name character-box-content character-box-section stat-row-first-half">
                    Health:
                </section>
                <section class="character-box-content character-box-section stat-row-second-half">
                        <section  id="combatant-health" class="row-cell stat-bar">
                            <%for(let x=0; x<characterinfo.health(); x++){%>
                                <div class="stat-tick health-tick">
                                </div>
                            <%}%>
                            <span class="stat-number2">
                                <%=characterinfo.health()%>/<%=characterinfo.health()%>
                            </span>
                        </section>
                </section>
            </section>
            <section class="combat-style-content-row">
                <section class="stat-row-name character-box-content character-box-section stat-row-first-half">
                    Stamina:
                </section>
                <section class="character-box-content character-box-section stat-row-second-half">
                    <section  id="combatant-health" class="row-cell stat-bar">
                        <%for(let x=0; x<characterinfo.stamina(); x++){%>
                            <div class="stat-tick stamina-tick">
                            </div>
                        <%}%>
                        <span class="stat-number2">
                            <%=characterinfo.stamina()%>/<%=characterinfo.stamina()%>
                        </span>
                    </section>
                </section>
            </section>
            <section class="combat-style-content-row">
                <section class="stat-row-name character-box-content character-box-section stat-row-first-half">
                    Mana:
                </section>
                <section class="character-box-content character-box-section stat-row-second-half">
                    <section  id="combatant-health" class="row-cell stat-bar">
                        <%for(let x=0; x<characterinfo.mana.max; x++){%>
                            <div class="stat-tick mana-tick">
                            </div>
                        <%}%>
                        <span class="stat-number2">
                            <%=characterinfo.mana.available%>/<%=characterinfo.mana.max%>
                        </span>
                    </section>
                </section>
            </section>
            <section class="combat-style-stats-box-container">
                <section class="combat-style-stats-box">
                    <section class="combat-style-content-row">
                        <section class="character-box-content character-box-section icon-row icon-row-1">
                            <img src="/icons/Sword.png" class="icon">ATK:
                        </section>
                        <section class="character-box-content character-box-section icon-row icon-row-2">
                            &nbsp;&nbsp;&nbsp;<%=characterinfo.combatStyles[0].attack()%>
                        </section>
                    </section>
                    <section class="combat-style-content-row">
                        <section class="character-box-content character-box-section icon-row icon-row-1">
                            <img src="/icons/Shield.png" class="icon">DEF:
                        </section>
                        <section class="character-box-content character-box-section icon-row icon-row-2">
                            &nbsp;&nbsp;&nbsp;<%=characterinfo.combatStyles[0].defense()%>
                        </section>
                    </section>
                    <section class="combat-style-stats-mods">
                        <section class="combat-style-content-row">
                            <section class="character-box-content character-box-section mod-row mod-row-first-half">
                                
                            </section>
                            <section class="character-box-content character-box-section mod-row-second-half mod-row mod-title">
                                Weight Mod
                            </section>
                        </section>
                        <section class="combat-style-content-row">
                            <section class="character-box-content character-box-section mod-row mod-row-first-half">
                               
                            </section>
                            <section class="character-box-content character-box-section mod-row-second-half mod-row">
                                <%if(characterinfo.combatStyles[0].weightModifier()>0){%> + <%}else{%> - <%}%> <%if(characterinfo.combatStyles[0].weightModifier()>0){%><%=characterinfo.combatStyles[0].weightModifier()%><%}else{%><%=characterinfo.combatStyles[0].weightModifier()*-1%><%}%> (<%=characterinfo.combatStyles[0].weightClass().toUpperCase()%>)
                            </section>
                        </section>
                        <section class="combat-style-content-row">
                            <section class="character-box-content character-box-section mod-row mod-row-first-half">
                                
                            </section>
                            <section class="character-box-content character-box-section mod-row-second-half mod-row mod-title">
                                Spirit Power Mods
                            </section>
                        </section>
                    <%for(let y=0; y<characterinfo.spiritPowers.length; y++){%>
                        <section class="combat-style-content-row">
                            <section class="character-box-content character-box-section mod-row mod-row-first-half">
                                <input type="checkbox" id="<%=characterinfo.spiritPowers[y].combatMod(characterinfo.limitStat(1))%>">
                            </section>
                            <section class="unchecked character-box-content character-box-section mod-row-second-half mod-row">
                                <%if(characterinfo.spiritPowers[y].combatMod(characterinfo.limitStat(1))>0){%> + <%}else{%> - <%}%> <%if(characterinfo.spiritPowers[y].combatMod(characterinfo.limitStat(1))>0){%><%=characterinfo.spiritPowers[y].combatMod(characterinfo.limitStat(1))%><%}else{%><%=characterinfo.spiritPowers[y].combatMod(characterinfo.limitStat(1))*-1%><%}%> (<%=characterinfo.spiritPowers[y].name%>)
                            </section>
                        </section>
                    <%}%>
                    <section class="combat-style-content-row">
                        <section class="character-box-content character-box-section mod-row mod-row-first-half">
                            
                        </section>
                        <section class="character-box-content character-box-section mod-row-second-half mod-row mod-title">
                            Additional Mods
                        </section>
                    </section>
                    <%for(let y=0; y<characterinfo.additionalCombatModifiers.length; y++){%>
                        <section class = "combat-style-content-row">
                            <section class="character-box-content character-box-section mod-row mod-row-first-half">
                                <input type="checkbox" id="<%=characterinfo.additionalCombatModifiers[y].mod%>">
                            </section>
                            <section class="unchecked character-box-content character-box-section mod-row-second-half mod-row">
                                <%if(characterinfo.additionalCombatModifiers[y].mod>0){%> + <%}else{%> - <%}%> <%if(characterinfo.additionalCombatModifiers[y].mod>0){%><%=characterinfo.additionalCombatModifiers[y].mod%><%}else{%><%=characterinfo.additionalCombatModifiers[y].mod*-1%><%}%> (<%=characterinfo.additionalCombatModifiers[y].name%>)
                            </section>
                        </section>
                    <%}%>
                        <section class="combat-style-content-row highlight margin-top-5px">
                            <section class="character-box-content character-box-section icon-row highlight icon-row-1">
                                TOTAL ATK:
                            </section>
                            <section id="attack-box" class="character-box-content character-box-section icon-row highlight icon-row-2">
                                &nbsp;&nbsp;&nbsp;<%=characterinfo.combatStyles[0].attack()+characterinfo.combatStyles[0].weightModifier()%>
                            </section>
                        </section>
                        <section class="combat-style-content-row highlight">
                            <section class="character-box-content character-box-section highlight icon-row icon-row-1">
                                TOTAL DEF:
                            </section>
                            <section id="defense-box" class="character-box-content character-box-section  highlight icon-row icon-row-2">
                                &nbsp;&nbsp;&nbsp;<%=characterinfo.combatStyles[0].defense()+characterinfo.combatStyles[0].weightModifier()%>
                            </section>
                        </section>
                    </section>
                </section>
                <section class="combat-style-content-row ap-dd-container">
                    <section class="character-box-content character-box-section combat-row-half">
                        <section>
                            <section class="ap-dd combat-style-content-row">
                                <section class="character-box-content character-box-section combat-row-half">
                                    AP:
                                </section>
                                <section class="character-box-content character-box-section combat-row-half">
                                    <%=characterinfo.combatStyles[0].armorPenetration()%>
                                </section>
                            </section>
                        </section>         
                    </section>
                    <section class="character-box-content character-box-section combat-row-half">
                        <section>
                            <section class="ap-dd combat-style-content-row">
                                <section class="character-box-content character-box-section combat-row-half">
                                    DD:
                                </section>
                                <section class="character-box-content character-box-section combat-row-half">
                                    <%=characterinfo.combatStyles[0].directDamage()%>
                                </section>
                            </section>
                        </section>         
                    </section>
                </section>
                <section class = "ap-dd armor-row combat-style-content-row">
                    <section class = "character-box-section character-box-content combat-row-half">
                        Armor:
                    </section>
                    <section class = "character-box-section character-box-content combat-row-half">
                        <%=characterinfo.combatStyles[0].meleeArmor()%>/<%=characterinfo.combatStyles[0].rangedArmor()%>
                    </section>
                </section>
                <section class="combat-style-content-row">
                    <section class="stat-row-name character-box-content character-box-section stat-row-first-half">
                        Armor Durability:
                    </section>
                    <section class="character-box-content character-box-section stat-row-second-half">
                        <section  id="combatant-health" class="row-cell stat-bar">
                            <%for(let x=0; x<characterinfo.combatStyles[0].armorDurability().max; x++){%>
                                <div class="stat-tick armor-tick">
                                </div>
                            <%}%>
                            <span class="stat-number2">
                                <%=characterinfo.combatStyles[0].armorDurability().available%>/<%=characterinfo.combatStyles[0].armorDurability().max%>
                            </span>
                        </section>
                    </section>
                </section>
                
            </section>
        </section>
    </section>
</section>
<script>
    $("input").on("change",function(){
        if(this.checked){
            $(this).parent().next().css("color","black");
            $("#attack-box").html("&nbsp;&nbsp;&nbsp;" + (parseInt($("#attack-box").text())+parseInt($(this).attr("id"))))
            $("#defense-box").html("&nbsp;&nbsp;&nbsp;" + (parseInt($("#defense-box").text())+parseInt($(this).attr("id"))))
        }else{
            $(this).parent().next().css("color","gray");
            $("#attack-box").html("&nbsp;&nbsp;&nbsp;" + (parseInt($("#attack-box").text())-parseInt($(this).attr("id"))))
            $("#defense-box").html("&nbsp;&nbsp;&nbsp;" + (parseInt($("#defense-box").text())-parseInt($(this).attr("id"))))
        }
    })
</script>